# -----------------------------------------------------------------------------
# Global Environment Template
# -----------------------------------------------------------------------------

# --- General Settings ---
DOMAIN=example.com
NAMESPACE=cloudbees-ci
CJOC_HOST_NAME=cjoc.example.com
CONTROLLER_NAME=ha
CERT_NAME=cloudbees-cert

# --- GKE Settings ---
PROJECT_ID=my-project-id
CLUSTER_NAME=my-cluster
ZONE=us-east1-d
REGION=us-east1
ZONE_NAME=my-zone-name

# --- AKS Settings ---
MY_SUBSCRIPTION_ID=my-subscription-id
MY_RESOURCE_GROUP_NAME=my-resource-group
MY_AKS_CLUSTER_NAME=my-aks-cluster

# --- CloudBees Settings ---
CLOUDBEES_STORAGE_CLASS=premium-rwo
ENVOY_GATEWAY_VERSION=v1.7.1
