# -----------------------------------------------------------------------------
# Global Environment Variables
# -----------------------------------------------------------------------------

# --- GKE Settings ---
export PROJECT_ID="acaternberg"
export CLUSTER_NAME="cb-ci"
export ZONE="us-east1-d"
export REGION="us-east1"
export ZONE_NAME="flow-training.beescloud.com"

# --- General Settings ---
export DOMAIN="${PROJECT_ID}.flow-training.beescloud.com"
# Namespace of CloudBees installation
export NAMESPACE="cloudbees-envoy"
# OperationsCenter.hostname
export CJOC_HOST_NAME="gateway-envoy.${PROJECT_ID}.flow-training.beescloud.com"
export CONTROLLER_NAME="controller1"
export CERT_NAME="cloudbees-cert"
export GATEWAY_NAME="eg"


# --- CloudBees Settings ---
export CLOUDBEES_STORAGE_CLASS="premium-rwo"
export ENVOY_GATEWAY_VERSION="v1.7.4"


export CJOC_ADMIN_PASSWORD=admin    
export CJOC_ADMIN_USER=admin
export CJOC_ADMIN_EMAIL=user@example.com

# Casc Retriever
export CASC_SCM_USERNAME=<githubuserid>
export CASC_SCM_PASSWORD=<githubpattoken>
# This could be the url of your fork
export CASC_SCM_REPO=https://github.com/cb-ci/ci-gateway-api.git
export CASC_SCM_BUNDLE_PATH=casc
export CASC_SCM_BUNDLE_PATH_CJOC=${CASC_SCM_BUNDLE_PATH}/cjoc
export CASC_SCM_BRANCH=main
# When using GitHub App auth in external casc bundle service 
export CASC_GITHUB_APP_ID=....
export CASC_GITHUB_APP_KEY=$(cat $PWD/githubAppPrivkey.pem  | sed 's/^/          /')



